body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #6e6e6e;  /*color fondo pantalla*/
}

#board {
    display: grid;
    grid-template-columns: 130px 70px 130px 70px 130px 70px 130px 70px 130px;
    grid-template-rows: 130px 130px 130px 70px 130px 130px 130px;
    background-color: #aaa;
    margin-top: 20px;
}

.cell {
    width: 100%;
    height: 100%;
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.building {
    width: 80px;
    height: 80px;
    color: white;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
}

.vertical-road {
    background-color: #333;
}

.vertical-road::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background: repeating-linear-gradient(
            to bottom,
            white,
            white 10px,
            transparent 10px,
            transparent 20px
    );
    transform: translateX(-50%);
}

.horizontal-road {
    background-color: #333;
}

.horizontal-road::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    background: repeating-linear-gradient(
            to right,
            white,
            white 10px,
            transparent 10px,
            transparent 20px
    );
    transform: translateY(-50%);
}

.intersection-road {
    background-color: #333;
}

.intersection-road::before,
.intersection-road::after {
    content: '';
    position: absolute;
}

.intersection-road::before {
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    background: repeating-linear-gradient(
            to right,
            white,
            white 10px,
            transparent 10px,
            transparent 20px
    );
    transform: translateY(-50%);
}

.intersection-road::after {
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background: repeating-linear-gradient(
            to bottom,
            white,
            white 10px,
            transparent 10px,
            transparent 20px
    );
    transform: translateX(-50%);
}
.bus {
    width: 60px;
    height: 30px;
    background-color: #4682b4; /* Color de fondo del bus */
    border-radius: 5px; /* Bordes redondeados */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Color del texto */
    font-size: 14px; /* Tamaño del texto */
    position: absolute; /* Posición absoluta para colocar en la celda */
}
.bus-stop {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px; /* Font size for the text */
    writing-mode: vertical-rl; /* Display text vertically */
    text-orientation: mixed; /* Ensure text orientation is correct */
    border: none; /* No border */
    color: gray;
}

.car {
    width: 40px;
    height: 20px;
    position: absolute;
    border-radius: 3px;
}

.traffic-light {
    width: 20px;
    height: 20px;
    background-color: #00ff00; /* Color verde para los semáforos */
    position: absolute;
    border-radius: 50%;
}

.traffic-light.red {
    background-color: #ff0000; /* Color rojo para el semáforo en rojo */
}

.traffic-light.green {
    background-color: #00ff00; /* Color verde para el semáforo en verde */
}

#button-container {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
}
/* boton agua */
#water-management-button {
    padding: 20px;
    font-size: 32px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#water-management-button i {
    margin-right: 5px;
}
/*boton reciclaje */


#residuos-management-button {
    padding: 20px;
    font-size: 32px;
    cursor: pointer;
    background-color: #27893e;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#residuos-management-button i {
    margin-right: 5px;
}
.recycling-container {
    display: inline-block;
    margin: 0 1px;
}

#cultura-management-button {
    padding: 20px;
    font-size: 32px;
    cursor: pointer;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cultura-management-button i {
    margin-right: 5px;
}
#transporte-management-button {
    padding: 20px;
    font-size: 32px;
    cursor: pointer;
    background-color: #4682b4;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#transporte-management-button-management-button i {
    margin-right: 5px;
}